/* - - - - - BASE STRUCTURE - - - - - */
* {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 20px/30px "Arapey", serif;
  color: #fff;
  text-align: center;
}

.wrapper {
	min-height: 100vh;
	padding-bottom: 15px;
	background: rgb(59,103,158);
	background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(32,124,202,1) 31%,rgba(32,124,202,1) 71%,rgba(125,185,232,1) 100%);
	background-repeat: no-repeat;
}


/* - - - - - BASE TAGS AND CLASSES - - - - - */
h1 {
  font: 40px/50px "Arapey", sans-serif;
  text-shadow: 0 3px 3px #000;
}

h2 {
  font: 30px/40px "Arapey", sans-serif;
  text-shadow: 0 1px 1px #000;
}

.desc {
  width: 820px;
  margin: 10px auto;
  line-height: 25px;
  text-align: center;
}

hr {
  width: 820px;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #888;
}

a,
a:link {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

a.credit {
  padding: 8px 3px;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

a.credit:hover {
  background: #fff;
  text-decoration: none;
}

a img {
  border: none;
}

.clearfix:before {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

/* - - - - - CARDS - - - - - */
.cardframe {
  text-align: center;
  width: 921px;
  margin: 15px auto;
}

.cardButton {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  display: block;
  width: 105px;
  height: 130px;
  position: relative;
  float: left;
  margin: 5px;
}

.cardframe .card {
  position: relative;
  height: 130px;
}

.cardframe .cardfront,
.cardframe .cardback {
  height: 100%;
  width: 100%;
  padding: 4px;
  border: 1px solid #555;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #000;
  position: absolute;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .75s ease-in-out;
}

.cardframe .cardfront,
.cardframe .cardback {
  background: #dbdbdb;
  background: radial-gradient(#dbdbdb 0%, #afafaf 100%);
  background: radial-gradient(ellipse farthest-side at center center, #dbdbdb 0%, #AFAFAF 100%);
}

.cardframe .cardback {
	/* card backgrounds modified from http: //lea.verou.me/css3patterns/#blueprint-grid */
	background-color:#269;
  background-image: linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.cardframe .facedown .cardfront {
	z-index: -5;
	transform: rotateY(180deg);
}

.cardframe .facedown .cardback,
.cardframe .facedown .cardback:before {
	z-index: 10;
	transform: rotateY(0deg);
}

.cardframe .faceup .cardfront {
	z-index: 10;
	transform: rotateY(0deg);
}

.cardframe .faceup .cardback {
	z-index: -5;
	transform: rotateY(180deg);
}

.cardframe .face,
.cardframe .suit {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 5px;
  font: 36px/40px Arial, sans-serif;
  text-align: center;
}

.cardframe .suit {
  font-size: 50px;
}

.cardframe .card.facedown {
  cursor: pointer;
}

.cardframe .card.faceup {
  cursor: default;
}

.cardframe .red {
  color: #f00;
}

.cardframe .black {
  color: #000;
}

/* - - - - - STARTING DECK OF CARDS - - - - - */
.deck {
  position: relative;
  width: 270px;
  height: 200px;
  margin: 0 auto;
}

.deck .card {
  position: absolute;
  top: 30px;
  width: 105px;
  height: 130px;
  margin: 5px;
  padding: 4px;
  border: 1px solid #555;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #000;
  /* card backgrounds modified from http: //lea.verou.me/css3patterns/#blueprint-grid */
	background-color:#269;
  background-image: linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(rgba(134, 72, 72, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


/* - - - - - STATISTICSS AND STATES - - - - - */
.overlay {
  position: absolute;
  z-index: 5;
  background: #333;
  border-radius: 15px;
}

.score {
  width: 600px;
  margin: 15px auto 0;
  text-align: center;
  font-weight: bold;
}

.clicks {
  float: left;
  text-align: left;
}

.matches {
  float: right;
  text-align: right;
}

.time {
  text-align: center;
}

.stats {
  clear: both;
  text-align: center;
  display: block;
  width: 100%;
}


/* - - - - - BUTTON CODE FROM CSS TRICKS - - - - - */
/* http: //css-tricks.com/youtube-popup-buttons/ - - - - - */
.button {
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 3px;
  text-shadow: 0 1px 1px #fff;
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
  color: #333;
  cursor: pointer;
	background: linear-gradient(to bottomm, #fff, #e0e0e0);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}

.button:hover,
.button:focus,
.button:active {
  border: 1px solid #aaa;
  border-bottom-color: #ccc;
  border-top-color: #999;
	box-shadow: inset 0 1px 2px #aaa;
	background: linear-gradient(to bottom, #e6e6e6, gainsboro);
}
